body
{
	font-family: Calibri, Arial, Helvetica; 
	font-size:14px; color:#FFFFFF;
	background-color:#000000;
}

#main
{
	width: 800px;
	margin: 10px auto 0px auto;
}

#head
{
	margin: 10px auto 0px auto;
	color: #FF3F00;
}

#logo
{
	float: left;
	height: 130px;
	width: 319px;
}
#logo-login {
	float:none;
	margin: auto auto;
	text-align: center;
}

#login-hero {
	text-align: center;
	color: #ccc;
	font-weight: 200;
}

#page-manager {
	margin-bottom: 20px;
}

#page-manager span {
	padding: 4px;
	border: thin solid white;
	margin-right: 10px;
	color: white;
}
#page-manager span a, #page-manager span a:visited{
	color: white;
	text-decoration: none;
}

#loggedinas
{
	width: 100%;
	text-align: right;
}

#links
{
	float: left;
}
#links_one
{
	margin-top: 60px;
	font-size: 18px;
}
#links_one a, #links_one a:visited
{
	margin: 14px 14px;
	color: #FFFFFF;
	text-decoration: none;
}
#links_one a:hover
{
	color: #DDDD55;
}

/*#links_two a, #links_two a:visited
{
	margin: 5px 5px;
	color: #FFFFFF;
	text-decoration: none;
}
#links_two a:hover
{
	color: #DDDD55;
}
*/
#content{
	margin-top: 50px;
	color: #FFFF66;
	width: 600px;
	float: right;
}

#left_content {
	margin-top: 50px;
	padding: 20px 0 20px 0;
	float: left;
	width: 190px;
	text-align: right;
	border-right: 1px solid #333322;
}
#left_content a, #left_content a:visited{
	margin-right: 2px;
	color: #FFFFFF;
	text-decoration: none;
	display:block;
}
#left_content a:hover
{
	color: #DDDD55;
}

#search{
	text-align: center;
	width: 100%;
}

#copyright {
	font-size: smaller;
	clear: both;
	width: 400px;
	text-align: center;
	margin: 40px auto 5px auto;
}

#findid
{
	margin-right: 2px;
}
#findid input
{
	width: 40px;
	margin-left: 5px;
}

#extralinks
{
	margin-top: 30px;
}
#extralinks p
{
	margin: 0 0 0 0;
	font-size: large;
	color: #DDDD55;
	border-bottom: 1px solid white;
}

.error
{
	color: #BB0000;
	display: inline;
	margin-left: 10px;
}

.success
{
	color: #009900;
	display: inline;
	margin-left: 10px;
	
}