body
{
	font-family: Calibri, Arial, Helvetica; 
	font-size:14px; color:#FFFFFF;
	background-color:#000000;
}

#main
{
	width: 800px;
	margin: 10px auto 0px auto;
}

#head
{
	margin: 10px auto 0px auto;
	color: #FF3F00;
}

#logo
{
	float: left;
}

#loggedinas
{
	width: 100%;
	text-align: right;
}

#links
{
	float: left;
}
#links_one
{
	margin-top: 60px;
	font-size: 18px;
}
#links_one a, #links_one a:visited
{
	margin: 14px 14px;
	color: #FFFFFF;
	text-decoration: none;
}
#links_one a:hover
{
	color: #DDDD55;
}
#links_two
{
	margin-top: 0px;
	margin-left: 30px;
}
#links_two a, #links_two a:visited
{
	margin: 5px 5px;
	color: #FFFFFF;
	text-decoration: none;
}
#links_two a:hover
{
	color: #DDDD55;
}

#content{
	margin: 50px auto 0px auto;
	padding: 10px;
	border: 1px solid #333333;
	color: #FFFF66;
}

#search{
	text-align: center;
	width: 100%;
}